.other-users{
    border: 1px solid #0066cc;
    display: flex;
    flex-direction: column;
    margin: 8px 20px;
}
.user{
    padding-left: 10px;
    margin: 0 0 15px 0;
}
.stocks{
    padding-left: 12px;
    margin: 0px 10px;
    font-weight: bold;
}
.follow-button{
    width: 80px;
    margin: 15px auto;
    padding: 4px 10px;
}